.sub-enter-active {
    animation: sub-control 0.5s;
}
.sub-leave-active {
    animation: sub-control 0.5s reverse;
}
@keyframes sub-control {
    0% {
        height: 0px;
    }
    100% {
        height: 175px;
    }
}

.usercontrol-enter-active {
    animation: usercontrol-control 0.5s;
}
.usercontrol-leave-active {
    animation: usercontrol-control 0.5s reverse;
}
@keyframes usercontrol-control {
    0% {
        height: 0px;
    }
    100% {
        height: 240px;
    }
}

.gametype-enter-active {
    animation: gametype-control 0.3s;
}
.gametype-leave-active {
    animation: gametype-control 0.3s reverse;
}
@keyframes gametype-control {
    0% {
        height: 0%;
    }
    100% {
        height: 450%;
    }
}

.home-type-enter-active {
    animation: home-type-control 0.3s;
}
.home-type-leave-active {
    animation: home-type-control 0.3s reverse;
}
@keyframes home-type-control {
    0% {
        height: 0%;
    }
    100% {
        height: 130%;
    }
}

.home-hour-enter-active {
    animation: home-hour-control 0.3s;
}
.home-hour-leave-active {
    animation: home-hour-control 0.3s reverse;
}
@keyframes home-hour-control {
    0% {
        height: 0%;
    }
    100% {
        height: 350%;
    }
}

.analysis-enter-active {
    animation: analysis-control 0.3s;
}
.analysis-leave-active {
    animation: analysis-control 0.3s reverse;
}
@keyframes analysis-control {
    0% {
        height: 0%;
    }
    100% {
        height: 150%;
    }
}

.size-enter-active {
    animation: size-control 0.3s;
}
.size-leave-active {
    animation: size-control 0.3s reverse;
}
@keyframes size-control {
    0% {
        height: 0%;
    }
    100% {
        height: 860%;
    }
}

.color-enter-active {
    animation: color-control 0.3s;
}
.color-leave-active {
    animation: color-control 0.3s reverse;
}
@keyframes color-control {
    0% {
        height: 0%;
    }
    100% {
        height: 70%;
    }
}

.login-enter-active {
    animation: login-control 0.1s;
}
.login-leave-active {
    animation: login-control 0.1s reverse;
}
@keyframes login-control {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes hover-dowm {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0px);
    }
    55% {
        transform: translateY(-2px);
    }
    85% {
        transform: translateY(0px);
    }
}

@keyframes hover-right {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(5px);
    }
    40% {
        transform: translateX(0px);
    }
    55% {
        transform: translateX(2px);
    }
    85% {
        transform: translateX(0px);
    }
}
